*{
    -fx-main-dark: #0D1117;
    -fx-main-blue: #3E61F9;
    -fx-ligth-blue: #4c6dfd;
    -fx-second-dark: #161B22;
    -fx-third-dark: #1d222d;
    -fx-third-dark-light: #30363D;
}

#dark .text16, #dark .text12, #dark .text14, #dark .text20, #dark .medium
{
    -fx-text-fill: -fx-light-gray;
}


#dark .whiteFieldContainer
{
    -fx-background-color: -fx-main-dark;
}

#dark .fields
{
    -fx-text-fill: -fx-light-gray;
}

#dark .topMenu
{
    -fx-background-color: -fx-main-dark;
}

#dark #searchBar
{
    -fx-background-color: -fx-second-dark;
}

#dark #leftSideMenu
{
    -fx-background-color: -fx-main-dark;
}

#dark .menuButtonSelected, #dark .menuButton:hover
{
    -fx-background-color: -fx-main-blue;
}

#dark .itemIconButton:hover
{
    -fx-background-color: -fx-third-dark;
}

#dark .actionButton
{
    -fx-background-color: -fx-main-blue;
}

#dark #scrollItemsContainer
{
    -fx-background-color: -fx-second-dark;
}

#dark #itemsMenu
{
    -fx-background-color: -fx-second-dark;
}

#dark #itemsContainer
{
    -fx-background-color: -fx-second-dark;
}

#dark #infoContainer
{
    -fx-background-color: -fx-third-dark;
}

#dark #addButton
{
    -fx-background-color: -fx-main-blue;
}


#dark #addButton:hover
{
    -fx-background-color: -fx-ligth-blue;
}

#dark .activeButton
{
    -fx-background-color: -fx-dark-main;
}

#dark .itemContainer
{
    -fx-background-color: -fx-third-dark;
}

#dark .itemContainer:hover
{
    -fx-background-color: -fx-third-dark-light;
}

#dark .itemContainerBorder
{
    -fx-background-color: -fx-main-blue;
}

#dark .scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: -fx-main-blue;
}

#dark .createSelectorSelected
{
    -fx-background-color: -fx-main-blue;
}

#dark .modalTop
{
    -fx-background-color: -fx-main-dark;
}

#dark #configModal
{
    -fx-background-color: -fx-third-dark;
}

#dark .configSelect
{
    -fx-border-color: transparent;
    -fx-background-color: -fx-third-dark;
}

#dark .configSelect .list-cell:selected .text
{
    -fx-text-fill: -fx-light-gray;
}

#dark .comboBox .arrow-button .arrow {
    -fx-background-color: -fx-light-gray;
}

#dark .switchBody
{
    -fx-background-color: -fx-third-dark-light;
    -fx-border-color: transparent;
}

#dark .deviceCard
{
    -fx-background-color: -fx-third-dark-light;
}

#dark .generatorButton
{
    -fx-background-color: -fx-main-blue;
}

#dark .generatorButton:hover
{
    -fx-background-color: -fx-ligth-blue;
}

#dark #generatorBody
{
    -fx-background-color: -fx-third-dark;
}

#dark #authBody
{
    -fx-background-color: -fx-third-dark;
}

#dark #authTop
{
    -fx-background-color: -fx-main-dark;
}

#dark .authButton
{
    -fx-background-color: -fx-main-blue;
}

#dark .authButton:hover
{
    -fx-background-color: -fx-ligth-blue;
}

#dark #verifyTotpModal
{
    -fx-background-color: -fx-second-dark;
}

#dark .dangerButton
{
    -fx-background-color: -fx-error;
}

#dark .switchBodyActive
{
    -fx-background-color: -fx-ligth-blue;
    -fx-alignment: center-right;
}
