*{
    -fx-color-main: #2a333f;
    -fx-light-main: #475464;
    -fx-light-gray: #e5e4e4;
    -fx-color-white: #ffffff;
    -fx-second-gray: #F5F5F5;
    -fx-dark-gray: #676767;
    -fx-error: #BD3D3D;
    -fx-success: #509F43;
}

.text16, .text20, .text14{
    -fx-font-family: "Noto Sans";
    -fx-font-size: 16px;
}

.text12
{
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12px;
}

.bold{
    -fx-font-family: "Noto Sans Bold";
}

.medium{
    -fx-font-family: "Noto Sans Medium";
}

.text20{
    -fx-font-size: 20px;
}

.text14{
    -fx-font-size: 14px;
}

.lightWhiteText{
    -fx-text-fill: -fx-second-gray;
    -fx-opacity: 0.6;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/**
----- LOGIN -----
 */

#authBody{
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-max-height: 800px;
    -fx-min-height: 800px;
    -fx-background-color: -fx-light-gray;
    -fx-spacing: 50px;
    -fx-alignment: top-center;
}

#authTop{
    -fx-min-height: 52px;
    -fx-max-height: 52px;
    -fx-background-color: -fx-color-main;
}

.whiteFieldContainer{
    -fx-min-width: 400px;
    -fx-max-width: 500px;
    -fx-min-height: 20px;
    -fx-background-color: -fx-second-gray;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 2.0);
}

.fieldsBody{
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-spacing: 5px;
    -fx-cursor: text;
}

.fields{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px;
}

.authButton{
    -fx-max-width: 200px;
    -fx-min-width: 200px;
    -fx-background-color: -fx-color-main;
    -fx-font-size: 20px;
    -fx-font-family: "Noto Sans";
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.authButton:hover{
    -fx-background-color: -fx-light-main;
}

.verifyField{
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 2.0);
}

.messageContainer{
    -fx-min-width: 350px;
    -fx-max-width: 550px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}

.messageError{
    -fx-background-color: -fx-error;
}

.messageSuccess{
    -fx-background-color: -fx-success;
}

.infoMessage{
    -fx-min-width: 580px;
    -fx-max-width: 580px;
}

/**
----- MAIN -----
 */

.topMenu{
    -fx-background-color: -fx-light-main;
    -fx-min-height: 68px;
    -fx-pref-height: 68px;
    -fx-max-height: 68px;
    -fx-spacing: 15px;
    -fx-alignment: center;
    -fx-padding: 0px 20px 0px 20px;
}

#searchBar{
    -fx-background-color: -fx-color-main;
    -fx-max-height: 40px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 15px;
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

#searchField{
    -fx-min-height: 30px;
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#leftSideMenu{
    -fx-background-color: -fx-color-main;
    -fx-min-width: 280px;
    -fx-pref-width: 280px;
    -fx-max-width: 280px;
    -fx-padding: 25px;
    -fx-spacing: 50px;
}

.menuButtonContainer{
    -fx-spacing: 20px;
}

.menuButton{
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.menuButtonSelected, .menuButton:hover{
    -fx-background-color: -fx-light-main;
}

.actionButton{
    -fx-background-color: -fx-color-main;
    -fx-min-width: 58px;
    -fx-max-height: 34px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
    -fx-font-size: 16px;
}

/**
----- ITEMS MENU -----
 */

#itemsMenu{
    -fx-pref-width: 540px;
    -fx-max-width: 540px;
    -fx-min-width: 380px;
    -fx-pref-height: 950px;
    -fx-background-color: -fx-second-gray;
    -fx-border-width: 0px;
}

#itemsContainer{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 10px;
}

#infoContainer{
    -fx-background-color: -fx-light-gray;
    -fx-pref-width: 1098px;
    -fx-spacing: 40;
}

#addButton{
    -fx-background-color: -fx-color-main;
    -fx-text-fill: -fx-color-white;
    -fx-max-width: 240px;
    -fx-max-height: 40px;
    -fx-min-width: 180px;
    -fx-pref-width: 280px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
    -fx-padding: 0px;
}

#addButton:hover{
    -fx-background-color: -fx-light-main;
}

#buttonContainer{
    -fx-max-height:80px;
    -fx-pref-height: 80px;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.activeButton{
    -fx-background-color: -fx-dark-main;
}

#menuButton{
    -fx-pref-width: 72px;
    -fx-pref-height: 72px;
    -fx-alignment: center;
}

#menuButton:hover{
    -fx-background-color: -fx-dark-main;
}

#userContainer{
    -fx-spacing: 10px;
}

#userContainerText{
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.itemContainer{
    -fx-max-height: 50px;
    -fx-alignment: center-left;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-spacing: 20px;
}

.itemContainer:hover{
    -fx-cursor: hand;
    -fx-background-color: -fx-light-gray;
}

.itemContainerBorder{
    -fx-min-width: 10px;
    -fx-max-width: 10px;
    -fx-background-color: -fx-color-main;
    -fx-background-radius: 5px 0px 0px 5px;
    -fx-border-radius: 5px 0px 0px 5px;
}

.itemTextContainer{
    -fx-padding: 10px 0px 10px 0px;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-pref-width: 15px;
}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: #b4b4b4;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

/**
----- SHOW ITEMS -----
 */

#infoItemPane{
    -fx-max-width: 640px;
    -fx-pref-width: 640px;
    -fx-min-width: 300px;
    -fx-padding: 0px 40px 0px 20px;
}

.infoItem{
    -fx-max-width: 600px;
    -fx-pref-width: 600px;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-spacing: 20px;
}

.itemWhiteContainer{
    -fx-pref-width: 600px;
    -fx-max-width: 600px;
}

.itemField90{
    -fx-pref-width: 525px;
}

.itemField80{
    -fx-pref-width: 480px;
}

.itemIconButton{
    -fx-max-width: 24px;
    -fx-max-height: 24px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.itemIconButton:hover{
    -fx-background-color: -fx-light-gray;
}

.fieldsBodyTextArea{
    -fx-max-height: 300px;
}

.fieldsArea{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px;
    -fx-max-height: 180px;
}

.fieldsArea .content{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/**
----- CREATE ITEMS -----
 */

.createSelector{
    -fx-max-height: 36px;
    -fx-min-height: 36px;
    -fx-padding: 2px;
    -fx-cursor: hand;
}

.createSelectorSelected{
    -fx-background-color: -fx-light-main;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

/**
----- PASSWORD GENERATOR -----
 */

.modalWindow{
    -fx-pref-width: 1920px;
    -fx-pref-height: 1080px;
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

#generatorBody{
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-min-height: 480px;
    -fx-max-height: 480px;
    -fx-background-color: -fx-light-gray;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.modalTop{
    -fx-background-color: -fx-light-main;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
    -fx-alignment: center;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
}

.generatorBody{
    -fx-padding: 15px 10px 5px 10px;
    -fx-spacing: 30px;
    -fx-alignment: top-center;
}

.generatorButton{
    -fx-min-width: 180px;
    -fx-max-width: 180px;
    -fx-background-color: -fx-light-main;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.generatorButtonWhite{
    -fx-background-color: white;
    -fx-text-fill: -fx-light-main;
    -fx-border-color: -fx-light-main;
}

.generatorButton:hover{
    -fx-background-color: -fx-color-main;
}

.generatorCheckBox .box{
    -fx-background-color: -fx-light-gray;
    -fx-border-color: #b6b6b6;
    -fx-border-radius:3px;
}

.generatorCheckBox:selected .mark {
    -fx-background-color: white;
}

.generatorCheckBox:selected .box {
    -fx-background-color: -fx-light-main;
    -fx-border-color: transparent;
}

.generatorSlider .thumb{
    -fx-background-color: -fx-color-main;
}

.generatorSlider .track{
    -fx-background-color: linear-gradient(to right, #475464 0, #e5e4e4 0);
}

/**
----- CONFIGURATION VIEW -----
 */

#configModal
{
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-max-height: 730px;
    -fx-background-color: -fx-light-gray;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-spacing: 20px;
}

#configWhiteContainer
{
    -fx-min-width: 560px;
    -fx-max-width: 560px;
}

.configSelect
{
    -fx-background-color: white;
    -fx-border-color: rgba(0, 0, 0, 0.70);
    -fx-border-radius: 2px;
    -fx-min-height: 32px;
}

.configSelect .context-menu {
    -fx-pref-width: 540;
}

.switchBody
{
    -fx-max-width: 50px;
    -fx-min-width: 50px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -fx-light-gray;
    -fx-border-color: rgba(0, 0, 0, 0.30);
    -fx-cursor: hand;
}

.switchContent
{
    -fx-background-color: white;
    -fx-max-width: 22px;
    -fx-min-width: 22px;
    -fx-max-height: 22px;
    -fx-min-height: 22px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border-color: rgba(0, 0, 0, 0.20);
}

.switchBodyActive
{
    -fx-background-color: -fx-light-main;
    -fx-alignment: center-right;
}

.deviceCard
{
    -fx-min-height: 55px;
    -fx-max-height: 55px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0.0, 0.0);
    -fx-padding: 20px 10px 20px 10px;
    -fx-alignment: center-left;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-spacing: 20px;
}

.dangerButton
{
    -fx-background-color: -fx-error;
}